    <!-- 푸터 -->
    <footer>
      <div class="flexBox">
        <div class="left">
          <h2><img src="{{ site.baseurl}}/assets/img/common/logo_footer.png" alt=""></h2>
          <div class="companyInfo">
            <p><span>Phone:</span> 02-2039-0770</p>
            <p><span>E-mail:</span> droneclash@fuspo.co.kr</p>
            <p><span>서울센터:</span>  06532)  서울시 서초구 잠원동 41-7</p>
            <p><span>파주아레나:</span>  10910 경기도 파주시운정3길 11, 7동 (상지석동)</p>
          </div>
        </div>
        <div class="copyright">
          <p>COPYRIGHTⓒ 2022. FUSPO CO.,LTD. All RIGHTS RESERVED.</p>
        </div>
      </div>
    </footer>