  <!-- 메뉴 -->
  <header>
    <nav>
      <div class="gnb">
        <h1><a href="{{ site.baseurl}}/" class="logo">메인</a></h1>
        <div class="depth1 clearfix">
          <ul class="menu clearfix">
          {% for item in site.data.navigation %}
            <li class="{{item.class}}"><a href="{{ item.link | absolute_url }}">{{ item.name }}</a></li>
          {% endfor %}            
          </ul>
        </div>
        <div class="depth2 intro">
          <ul>
            <li><a href="#">드론클래쉬란?</a></li>
            <li><a href="#">게임 이용 가이드</a></li>
          </ul>
        </div>
        <div class="depth2 news">
          <ul>
            <li><a href="{{ site.baseurl}}/notice">공지 및 업데이트</a></li>
          </ul>
        </div>
        <div class="depth2 match">
          <ul>
            <li><a href="{{ site.baseurl}}/championship">현재 진행중인 대회</a></li>
          </ul>
        </div>
        <div class="depth2 download">
          <ul>
            <li><a href="#">자료실</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!--// 메뉴 -->